#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#

#
# Copyright 2006 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
# ident	"@(#)Solaris_stdc.cfg	9.3	07/10/08 SMI"
#

i386_ASMC       = asmc
i386_CLEAN_ASMC = clean_asmc

i386_HOME_INCLUDE = $(ALT_DIR)
i386_ARCH_DIR_O   = $(DIR_O_ALT)

i386_V8_DIR     = i386

DIR_S_V         = $(TOP_DIR)/builds/linux/x86/$(DIR_MODE)/$(CHIP_DIR)/$(MODNAME)
DIR_O_S_V       = $(TOP_DIR)/builds/$(TARGET_OS)/$(ARCH)/obj/$(CHIP_DIR)/$(MODNAME)

DIR_O_V         = $(TOP_DIR)/builds/$(TARGET_OS)/$(ARCH)/$(DIR_MODE)/$(CHIP_DIR)/$(MODNAME)
DIR_SYS_V       = $(TOP_DIR)/builds/$(TARGET_OS)/$(ARCH)/$(DIR_MODE)/$(CHIP_DIR)/sys
DIR_GRAPHICS_V  = $(TOP_DIR)/builds/$(TARGET_OS)/$(ARCH)/$(DIR_MODE)/$(CHIP_DIR)/graphics
LIB_DIR_V       = $(TOP_DIR)/builds/$(TARGET_OS)/$(ARCH)/lib/$(CHIP_DIR)
